@model IEnumerable<Web_SHOPLINHKIEN.Models.GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout_trangChu.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("trangChu", "Guest")">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Giỏ hàng</li>
    </ul>
    <h3>THÔNG TIN GIỎ HÀNG
    <a href="@Url.Action("trangTimKiem", "Guest")" class="btn btn-large pull-right">
        <i class="icon-arrow-left"></i> Tiếp tục mua sắm
        </a>
    </h3>
    <hr class="soft" />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ảnh sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
                <th>Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("trangSP", "Guest", new { id = item.sMaSP.Trim() })">
                            <img width="60" src="~/ANHSANPHAM/@Url.Content(item.sAnhSP)" alt="" />
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("trangSP", "Guest", new { id = item.sMaSP.Trim() })">
                            @item.sTenSP
                        </a>
                    </td>
                    <td>
                        <div class="input-append">
                            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { sMaSP = item.sMaSP.Trim() }))
                            {
                                <input class="span1" style="max-width:34px" size="16" type="number" min="1" max="@item.iSLMax" value="@item.iSoLuong" name="soluong">
                                <button class="btn" type="submit">CẬP NHẬT</button>
                            }

                        </div>
                    </td>
                    <td>@String.Format("{0:0,0}", item.dDonGia)</td>
                    <td>@String.Format("{0:0,0}", item.dThanhTien)</td>
                    <td>
                        <button class="btn btn-danger" type="button" onclick="window.location.href='@Url.Action("XoaGioHang", "GioHang", new {  sMaSP = item.sMaSP.Trim() })'">
                            <i style="color:white;" class="icon-remove icon-white"></i>
                        </button>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="6" style="text-align:right">TỔNG CỘNG: &nbsp;&nbsp;<strong style="color:darkred">@String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</strong> </td>

            </tr>
        </tbody>
    </table>
    <p>Số lượng sản phẩm: @ViewBag.TongSoLuong <a href="@Url.Action("XoaTatCaGioHang", "GioHang")" class="btn btn-danger"><strong style="color:white;">Xóa giỏ hàng</strong></a></p>
    <a href="@Url.Action("trangTimKiem", "Guest")" class="btn btn-large"><strong><i class="icon-arrow-left"></i> Tiếp tục mua sắm </strong></a>
    <a href="@Url.Action("DatHang", "GioHang")" class="btn btn-large pull-right"><strong> Đặt hàng <i class="icon-arrow-right"></i></strong></a>

</div>