@model IEnumerable<Web_SHOPLINHKIEN.Models.joinTable_KHG_DONHG_CHITIET>

@{
    ViewBag.Title = "trangQLDonHang_sua";
    Layout = "~/Views/Shared/_Layout_trangAdmin.cshtml";
    var first = Model.First();
    decimal tongtien = 0;
    int tongsl = 0;
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("trangChu", "Guest")">Trang chủ</a> <span class="divider">/</span></li>
        <li><a href="@Url.Action("trangQLDonHang", "AdminQLDonHang")">Quản lý đơn hàng</a> <span class="divider">/</span></li>
        <li class="active">Chi tiết đơn hàng @first.DONHANG.MaDH</li>
    </ul>
    <h3>Các sản phẩm đã đặt trong đơn hàng</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ảnh sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        
                            <img width="60" src="~/ANHSANPHAM/@Url.Content(item.ANHSANPHAM.FileAnh)" alt="" />
                        
                    </td>
                    <td>
                        
                            @item.SANPHAM.TenSP
                        
                    </td>
                    <td>
                        @item.DONHANGCHITIET.SoLuong
                    </td>
                    <td>@String.Format("{0:0,0}", item.DONHANGCHITIET.DonGia)</td>
                    <td>@String.Format("{0:0,0}", item.DONHANGCHITIET.DonGia * item.DONHANGCHITIET.SoLuong)</td>
                    @{
                        tongtien += (decimal)item.DONHANGCHITIET.DonGia * (decimal)item.DONHANGCHITIET.SoLuong;
                        tongsl += (int)item.DONHANGCHITIET.SoLuong;
                    }
                </tr>
            }
            <tr>
                <td colspan="6" style="text-align:right">TỔNG CỘNG: &nbsp;&nbsp;<strong style="color:darkred">@String.Format("{0:0,0}", tongtien) VNĐ</strong> </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <tr><th>THÔNG TIN ĐƠN HÀNG </th></tr>
        <tr>
            <td>
                @using (Html.BeginForm("trangQLDonHang_sua", "AdminQLDonHang", FormMethod.Post, new { @class = "form-horizontal", MaDH = first.DONHANG.MaDH.Trim() }))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <div class="control-group">
                        <label class="control-label">Họ và tên khách hàng </label>
                        <div class="controls">
                            <input type="text" id="TenKH" name="TenKH" readonly value="@first.KHACHHANG.HoTen">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Số điện thoại liên hệ khi giao hàng </label>
                        <div class="controls">
                            <input type="text" id="sdt" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                   name="sdt" value="@first.DONHANG.SDT">
                            <p style="color:darkred"><strong>@ViewData["loisdt"]</strong></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPost">Địa chỉ giao hàng </label>
                        <div class="controls">
                            <textarea name="diachi" id="diachi" cols="26" rows="3">@first.DONHANG.DiaChi</textarea>
                            <p style="color:darkred"><strong>@ViewData["loidiachi"]</strong></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPost">Ghi chú: </label>
                        <div class="controls">
                            <textarea name="ghichu" id="ghichu" cols="26" rows="3" placeholder="Nhập ghi chú"></textarea>
                            <p style="color:darkred"><strong>@ViewData["loighichu"]</strong></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPost">Ngày đặt hàng </label>
                        <div class="controls">
                            <input type="date" id="ngaydathang" name="ngaydathang" value="@String.Format("{0:yyyy-MM-dd}", first.DONHANG.NgayDatHang)" readonly />

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPost">Tình trạng đơn hàng </label>
                        <div class="controls">
                            <input type="text" value="@first.TRANGTHAIDONHANG.TenTrangThai" readonly />
                            @if (first.DONHANG.MaTrangThai != "DGH")
                            {
                                <button class="btn" type="button" onclick="window.location.href='@Url.Action("DaGiaoHang", "AdminQLDonHang", new { id = first.DONHANG.MaDH.Trim() })'">Giao hàng</button>
                            }
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Cập nhật</button>
                            @if (first.TRANGTHAIDONHANG.MaTrangThai != "DGH")
                            {
                                <button class="btn btn-danger" type="button" onclick="window.location.href='@Url.Action("trangQLDonHang_xoa", "AdminQLDonHang", new { id = first.DONHANG.MaDH.Trim() })'">
                                    <i style="color:white;"><i class="icon-remove icon-white"></i> Hủy đơn hàng</i>
                                </button>
                            }
                        </div>
                    </div>
                }
            </td>
        </tr>
    </table>


    <a href="@Url.Action("trangQLDonHang", "AdminQLDonHang")" class="btn btn-large"><strong><i class="icon-arrow-left"></i> Quay về quản lý đơn hàng </strong></a>
</div>
