@model Web_SHOPLINHKIEN.Models.joinTable_KHG_TAIKHOAN

@{
    ViewBag.Title = "trangThongTinTaiKhoan";
    Layout = "~/Views/Shared/_Layout_trangChu.cshtml";
}

<div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("trangChu", "Guest")">Trang chủ </a> <span class="divider">/</span></li>
        <li class="active">Quản lý tài khoản</li>
    </ul>
    <h3>Thông tin tài khoản</h3>
    <div class="well">
        <form class="form-horizontal">
            <h4>Thông tin khách hàng</h4>
            <div class="control-group">
                <label class="control-label">Mã khách hàng:</label>
                <div class="controls">
                    <input type="text" value="@Model.KHACHHANG.MaKH" readonly />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Họ và tên:</label>
                <div class="controls">
                    <input type="text" value="@Model.KHACHHANG.HoTen" readonly />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Giới tính:</label>
                @{
                    string gt;
                    if (Model.KHACHHANG.GioiTinh == false)
                    {
                        gt = "Nam";
                    }
                    else
                    {
                        gt = "Nữ";
                    }
                }
                <div class="controls">
                    <input type="text" value="@gt" readonly />
                </div>
            </div>
                <div class="control-group">
                    <label class="control-label">Email:</label>
                    <div class="controls">
                        <input type="text" value="@Model.KHACHHANG.Email" readonly />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Số điện thoại:</label>
                    <div class="controls">
                        <input type="text" value="@Model.KHACHHANG.SDT" readonly />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Ngày sinh:</label>
                    <div class="controls">
                        <input type="text" value="@String.Format("{0:dd-MM-yyyy}", Model.KHACHHANG.NgaySinh)" readonly />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Tên tài khoản:</label>
                    <div class="controls">
                        <input type="text" value="@Model.TAIKHOAN.ID" readonly />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Địa chỉ:</label>
                    <div class="controls">
                        <textarea readonly cols="26" rows="3">@Model.KHACHHANG.DiaChi</textarea>
                    </div>
                </div>
        </form>
        <a href="@Url.Action("trangThongTinTaiKhoan_sua", "UserQLTaiKhoan")" class="btn btn-large"> Sửa thông tin</a>
        <a href="@Url.Action("trangDoiMatKhau", "UserQLTaiKhoan")" class="btn btn-large">Đổi mật khẩu</a>
    </div>

</div>
